<!--<ion-content color="dark">-->
<!--  <ion-grid class="ion-margin-top">-->
<!--    <ion-row class="ion-margin-top">-->
<!--      <ion-col class="ion-margin-top" size="12" offset="0" size-md="6" offset-md="3" size-lg="4" offset-lg="4">-->

<!--        <ion-card mode="ios">-->

<!--          <ion-grid class="ion-margin-top ion-padding-top">-->
<!--            <ion-row class="ion-justify-content-center">-->
<!--              <ion-avatar>-->
<!--                <img src="/assets/icon/logo.black.svg" alt="Bee O`clock Logo">-->
<!--              </ion-avatar>-->
<!--            </ion-row>-->
<!--          </ion-grid>-->

<!--          <ion-card-header class="ion-text-center">-->
<!--            <ion-card-title>Bee O`clock</ion-card-title>-->
<!--          </ion-card-header>-->

<!--          <ion-card-content  class="ion-text-center">-->
<!--            <ion-text>-->
<!--              Is a unique management tool allowing your customers to book and pay for your services. You can also keep track of your performance to become the best version of yourself.-->
<!--            </ion-text>-->

<!--            <div class="ion-margin-top ion-padding-top ion-margin-bottom">-->
<!--              &lt;!&ndash;              <h2>&ndash;&gt;-->
<!--              &lt;!&ndash;                Coming Soon&ndash;&gt;-->
<!--              &lt;!&ndash;              </h2>&ndash;&gt;-->
<!--              &lt;!&ndash;              <h4>&ndash;&gt;-->
<!--              &lt;!&ndash;                Get Notified when we launch.&ndash;&gt;-->
<!--              &lt;!&ndash;              </h4>&ndash;&gt;-->
<!--              <h2>-->
<!--                Coming Soon-->
<!--              </h2>-->
<!--              <h4>-->
<!--                The first version will be available later, but you can already start using certain features-->
<!--              </h4>-->
<!--            </div>-->
<!--            &lt;!&ndash;            <form [formGroup]="form" (ngSubmit)="subscribe()">&ndash;&gt;-->
<!--            <ion-list class="ion-no-padding">-->
<!--              &lt;!&ndash;                <ion-item class="ion-padding-bottom">&ndash;&gt;-->
<!--              &lt;!&ndash;                  <ion-label position="floating">E-mail</ion-label>&ndash;&gt;-->
<!--              &lt;!&ndash;                  <ion-input formControlName="email" placeholder="name.surname@example.com"></ion-input>&ndash;&gt;-->
<!--              &lt;!&ndash;                </ion-item>&ndash;&gt;-->
<!--              &lt;!&ndash;                <ion-button type="submit" color="dark" expand="block" [disabled]="form.invalid">Subscribe</ion-button>&ndash;&gt;-->
<!--              <ion-button [queryParams]="{segment: 'sign-up'}" [routerLink]="['/authorization']" color="link"-->
<!--                          expand="block">Start to use &nbsp;-->
<!--                <ion-icon name="rocket-outline"></ion-icon>-->
<!--              </ion-button>-->
<!--            </ion-list>-->
<!--            &lt;!&ndash;            </form>&ndash;&gt;-->
<!--          </ion-card-content>-->
<!--        </ion-card>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->
<!--</ion-content>-->


<header class="mb-auto">
  <div>
    <h3 class="mb-0">
      Bee O`clock
    </h3>
<!--    <nav class="nav nav-masthead justify-content-center float-md-end">-->
<!--      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>-->
<!--      <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>-->
<!--      <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>-->
<!--    </nav>-->
  </div>
</header>

<main class="px-3">
  <div class="col-2 offset-5 mb-4">
    <img src="/assets/icon/logo.yellow.black.svg" class="rounded-circle" alt="Bee O`clock Logo">
  </div>
  <p class="lead">Is a unique management tool allowing your customers to book and pay for your services. You can also keep track of your performance to become the best version of yourself.</p>
  <p class="lead">
    <ng-container *ngIf="link$ | async as link">
      <a [href]="link" disabled class="btn btn-lg btn-light fw-bold border-white bg-white">
        Notify me
      </a>
    </ng-container>
  </p>
</main>

<footer class="mt-auto text-white-50">
  <p>Project <a href="https://beeoclock.com/biz" class="text-white">Bee O`clock</a> by <a
    href="https://car4ukraine.com/" class="text-white">car4ukraine.com</a>.</p>
</footer>

