.wrapper {
  nav {
    ul li a {
      font-family: 'FixelDisplay-Medium', sans-serif;
      font-size: 15px;
    }

    a {
      font-family: 'FixelDisplay-Medium', sans-serif;
      font-size: 15px;
    }
  }
}



