@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FixelDisplay';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('./assets/fonts/FixelDisplay-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'FixelDisplay';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./assets/fonts/FixelDisplay-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'FixelDisplay';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('./assets/fonts/FixelDisplay-Bold.woff2') format('woff2');
  }
}
